@model SchoolRegister.ViewModels.VM.AddOrUpdateGroupVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{ViewBag.ActionType}";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEditGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.ActionType == "Edit group" || ViewBag.ActionType == "Edycja grupy") {
                    <input type="submit" value="@Localizer["EditButton"]" class="btn btn-primary" />
                }
                else {
                    <input type="submit" value="@Localizer["AddButton"]" class="btn btn-primary" />                    
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
