@model  SchoolRegister.ViewModels.VM.AttachStudentToGroupVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = String.Join(" - ", $"{ViewBag.Student.FirstName} {ViewBag.Student.LastName}", Localizer["GroupManage"].Value);
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AttachStudentToGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="GroupId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>            
            <div class="form-group">

                <label class="control-label">@Localizer["Group"]</label>
                <select name="groupName" class="form-control" asp-items="@ViewBag.GroupsSelectList">
                    <option selected>@Localizer["GroupsSelectList"]</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-route-studentId="@ViewBag.Student.Id" asp-route-groupName=@ViewBag.GroupsSelectList.SelectedValue type="submit" value=@Localizer["AttachButton"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Student">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
