@model SchoolRegister.ViewModels.VM.GroupVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
<table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-2">
                    @Localizer["Name"]
                </th>
                <th class="col-3">
                    @Localizer["Subjects"]
                </th>
                <th class="col-3">
                    @Localizer["Students"]
                </th>               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    <ul>
                        @foreach (var subject in Model.Subjects)
                        {
                                    <li>
                                @Html.DisplayFor(modelItem => subject)
                                    </li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var student in Model.Students)
                        {
                                    <li>
                                @Html.DisplayFor(modelItem => student)
                                    </li>
                        }
                    </ul>
                </td>                
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
