@model  SchoolRegister.ViewModels.VM.AttachDetachSubjectGroupVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = String.Join(" - ", ViewBag.Subject.Name, Localizer["GroupManage"].Value);
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DetachSubjectFromGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="GroupId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="SubjectId" type="hidden" class="form-control" />
            </div>            
            <div class="form-group">
                <label class="control-label">@Localizer["Group"]</label>
                <select name="groupName" class="form-control" asp-items="@ViewBag.GroupsSelectList">
                    <option selected>@Localizer["GroupSelectList"]</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-route-subjectId="@ViewBag.Subject.Id" asp-route-groupName=@ViewBag.GroupsSelectList.SelectedValue asp-controller="Group" type="submit" value=@Localizer["DetachButton"] class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Subject">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
