@model IEnumerable<SchoolRegister.ViewModels.VM.GroupVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h2>@Localizer["h2"]</h2>
@if (User.IsInRole("Admin"))
{
        <p>
            <a asp-action="AddOrEditGroup">@Localizer["Create"]</a>
        </p>
}

<table id="tabela" class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-2">
                @Localizer["Name"]
            </th>
            <th class="col-5">
                @Localizer["Subjects"]
            </th>
            <th class="col-4">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td class="d-none">
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-5">
                        <ul>
                        @foreach (var subject in item.Subjects) {
                            <li>
                                @Html.DisplayFor(modelItem => subject)
                            </li>
                        }
                        </ul>
                    </td>
                    <td class="col-4 align-middle text-right">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer["Manage"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" asp-action="AddOrEditGroup" asp-route-id="@item.Id">
                                        @Localizer["Edit"]
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item modalLink" href="#" >
                                        @Localizer["Delete"]
                                    </a>
                                    <div class="dropdown-divider"></div>
                                }
                                
                                <a class="dropdown-item" asp-action="Details" asp-route-groupId="@item.Id">
                                    @Localizer["Details"]
                                </a>
                            </div>
                        </div>


                    </td>
                </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="Modalpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".modalLink").click(function () {
                var $currentId = $(this).closest("tr").children('td:first').text();
                console.log($currentId)
                $.ajax({
                    url: "@Url.Action("GetIdToDelete", "Group")",
                    data: {
                        groupId: $currentId
                    },
                    success: function (data) {
                        $(".modal-dialog").html(data);
                        $("#Modalpopup").modal('show');
                    }
                });
            })
        })

    </script>
}