@model SchoolRegister.ViewModels.VM.StudentVm
@using Microsoft.AspNetCore.Mvc.Localization
@using SchoolRegister.Services.Services
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName} {Localizer["Title"].Value}";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="d-none">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                @if (!User.IsInRole("Parent")) {
                <th class="col-2">
                    @Localizer["Parent"]
                </th>
                }

                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="col-1">
                    @Localizer["Group"]
                </th>
                <th class="col-2">
                    @Localizer["AverageGrade"]
                </th>

                <th class="col-3">
                    @Localizer["AverageGradePerSubject"]
                </th>
                <th class="col-2">
                    @Localizer["Grades"]
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="d-none">
                    @Html.DisplayFor(model => model.Id)
                </td>
                @if (!User.IsInRole("Parent")) {
                    <td>
                        @Html.DisplayFor(model => model.ParentName)
                    </td>
                }
   
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AverageGrade)
                </td>

                <td>
                    <ul>
                        @foreach (var item in Model.AverageGradePerSubject) {
                            <li>@item.Key.FirstLetterOfEachWord(): @item.Value</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                    @foreach (var subject in Model.GradesPerSubject.Keys) {
                            
                            <li>     
                                @subject.FirstLetterOfEachWord():
                                @foreach (var grade in Model.GradesPerSubject[subject]) {
                                    @($"{grade}; ")
                                }
                             </li> 
                    }
                     </ul> 
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
