@model SchoolRegister.ViewModels.VM.SubjectVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"].Value;
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="col-2">
                    @Localizer["Name"]
                </th>
                <th class="col-3">
                    @Localizer["Description"]
                </th>
                <th class="col-2">
                    @Localizer["Teacher"]
                </th>
                <th class="col-2">
                    @Localizer["Groups"]
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TeacherName)
                </td>
                <td>
                    <ul>
                    @foreach (var item in Model.Groups) {
                       
                            <li>@Html.DisplayFor(modelItem => item.Name)</li>
                      
                    }
                     </ul> 
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
