@model SchoolRegister.ViewModels.VM.AddGradeToStudentVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{Localizer["Title"].Value} {ViewBag.Student}";
}

<h2>@ViewData["title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="AddGradeToStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="TeacherId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="StudentId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="SubjectId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Subject"]</label>
                <select name="subj" class="form-control" asp-items="@ViewBag.SubjectsSelectList">
                    <option selected>@Localizer["SubjectList"]</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfIssue" class="control-label">@Localizer["Date"]</label>
                <input asp-for="DateOfIssue" class="form-control" type="datetime-local"/>
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeValue" class="control-label">@Localizer["Grade"] </label>
                <select name="GradeValue" class="form-control" asp-items="@ViewBag.GradeSelectList">
                    <option selected>@Localizer["GradeList"]</option>
                </select>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" role="button" asp-action="Index" asp-controller="Student" >@Localizer["Back"]</a>
                <input asp-route-subj=@ViewBag.SubjectsSelectList.SelectedValue type="submit" value=@Localizer["AddButton"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
