@model IEnumerable<SchoolRegister.ViewModels.VM.GradeVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{Model.ElementAt(0).Student} {Localizer["Title"].Value}";
}

<h2>@ViewData["Title"]</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Subject"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Grade"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeValue)
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-secondary" role="button" asp-action="GradesReport" >@Localizer["Back"]</a>
